.banner {
  background-image: url(../../images/australia-background.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.banner h1{
  color: #393E41;
  font-size: 40px;
  margin: 0;
  position: relative;
  top: -15px;

}

.banner p{
  color: white;
  font-size: 20px;
  position: relative;
  top: -35px;
  padding-left: 67px;

}

.banner a {
  text-decoration: none;
  background-color: #393E41;
  color: white;
  border-radius: 15px;
  padding: 10px;
  width: 160px;
  margin: 0px auto;
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;

}
.banner a:hover{
  color: #DBC0B3;
}
