.main-container{
}

.main-container h2{
  text-align: center;
  margin: 40px;
}


.cards-section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230 230 230);
  text-align: center;
  padding: 20px;
  border: 1px solid #be8a82;
}

.card h3{
  color:rgb(176, 53, 30);
}

.card img{
  height : 100px;
  width: 200px;
  align-items: center;

}
