/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Merriweather:wght@300&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Merriweather;
}

h1, h2, h3, h4 {
  font-family: Fira sans;
}

a {
  text-decoration: none;
}

/* Custom design below! */
